.sidebar {
  color: #f1f1f1;
  width: 400-18px;
  height: fit-content;
  background-color: #0F0F0F;
  left: 0;
  top: 0;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: center;;
  border: rgb(73, 73, 73) 1px solid;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  /* box-shadow: #3F3F3F 0px 10px 50px; */
  box-shadow: 0px 0px 50px 2px rgba(63, 63, 63, 0.35), 0px 0px 10px 2px rgba(73, 73, 73, 0.35);
}

.textbox {
  width: 236px;
  height: 36px;
  padding: 0 10px;
  border-radius: 18px;
  border: none;
  align-self: flex-start;
  background-color: #0F0F0F;
  border: rgb(73, 73, 73) 1px solid;
  color: #f1f1f1;
  transition: all 0.3s ease;
  position: relative;
}

.textbox:hover {
  /* transform: translateY(-2px); */
  box-shadow: 0px 0px 5px 2px rgba(63, 63, 63, 0.35), 0px 0px 1px 2px rgba(73, 73, 73, 0.35);
}

.textbox:focus {
  outline: none;
  background-color: #2E2E2E;
  transform: translateY(1px);
  box-shadow: 0px 0px 5px 2px rgba(63, 63, 63, 0.35), 0px 0px 1px 2px rgba(73, 73, 73, 0.35);
}

.sendbutton {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #0F0F0F;
  border: rgb(73, 73, 73) 1px solid;
  color: #f1f1f1;
  transition: all 0.3s ease;
  margin-left: 10px;
  cursor: pointer;
}

.sendbutton:hover {
  transform: translateY(-2px);
  background-color: #2E2E2E;
  box-shadow: 0px 0px 5px 2px rgba(63, 63, 63, 0.35), 0px 0px 1px 2px rgba(73, 73, 73, 0.35);
}

.sendbutton:click {
  transform: translateY(-1px);
  box-shadow: 0px 0px 5px 2px rgba(63, 63, 63, 0.35), 0px 0px 1px 2px rgba(73, 73, 73, 0.35);
}
